*{
	margin: 0;
	padding: 0:;
	box-sizing: border-box;
}
body{
	background: url(https://www.chamonix-mountain-guide.com/sites/default/files/md-slider-image/nuyama_chamonix.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.start{
	text-align: center;
	color: white;
	margin-top: 50px;
	font-size: 30px;
}
.form-box{
	width: 400px;
	background: rgba(34, 16, 16,.7);
	margin:10px auto;
	padding: 55px 10px; 
	text-align: center;
}
.form-box form input{
	width: 320px;
	height: 40px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 5px;
	outline: none;
	border:none;
	border: 1px solid white;
	color: white;
	background: transparent;
}
.form-box form input:focus{
	border: 1px solid red;
}
.btn{
	background:  #030c2e !important;
	color: white;
	width: 320px !important;
	height: 30px !important;
	border:none !important;
	cursor: pointer;
}
.btn:hover{
	background: #1a41ce !important;
}
.form-box form div{
	color: white;
	margin-bottom: 20px;
	font-size: 15px;
}
.icon ul li{
	list-style: none;
	display: inline-block;
	margin: 10px auto;
	padding-right: 20px;	
}
.icon ul li a i{
	width: 20px;
	height: 20px;
	background: white;
	line-height: 22px;
	border-radius: 100%;
	transition: .5s;
	margin-right: 10px;
}
.icon ul li a i:hover{
	transform: scale(1.7);
	transition: .5s;
	background: #1a41ce;
}
.icon span{
	color: white;
	float: left;
	margin-left: 100px;
	margin-top: 10px;	
	font-size: 18px;
}
